# Build output
Отлаживать/
Выпускать/
строить/

# Файлы IDE
. .метаданные/
. . .настройки/
*.запуск
*.тмп
*.бак
*.свп

# Скомпилированные файлы
*.о
*.эльф
*.гекс
*.bin
*.карта

# Файлы ОС
. . . .DS_Магазин
Большие пальцы.db
